<!-- 火星专栏 -->
<div class="index-news-right">
    <div class="news-author clearfix">
        <div class="box-author clearfix">
            <p class="title">火星专栏</p>
            <%
            data.authorList.map((item) => {
                %>
            <div class="list-author">
                <div class="portrait-img">
                    <a target="_blank" href="/newsauthor?userId=<%= item.passportId %>">
                        <img src="<%= item.iconUrl %>" alt="">
                        <%
                            if (parseInt(item.vGrade) === 0) {
                         %>
                        <span class="v-ordinary"></span>
                        <%
                            } else if (parseInt(item.vGrade) === 1) {
                        %>
                        <span class="v-personal"></span>
                        <%
                            } else if (parseInt(item.vGrade) === 2) {
                        %>
                            <span clas="v-enterprise"></span>
                        <%
                            }
                         %>
                    </a>
                    <div class="name-follower">
                        <a target="_blank" class="author-call" title="<%= item.nickName %>" href="/newsauthor?userId=<%= item.passportId %>"><%= item.nickName %></a>
                        <p class="crowd">粉丝：<span><%= item.followCount %></span></p>
                    </div>
                </div>
                <a target="_blank" class="article-title" href="/newsdetail/<%=`${item.news.id}.html`%>"><%= item.news.title%></a>
                <%
                    if (item.passportId === data.userId) {
                        %>
                <div class="owner">
                    <span>关注</span>
                </div>
                <%
                    } else {
                        %>
                <div data-id="<%= item.passportId %>" style="display: <%= parseInt(item.ifCollect) === 1  ? 'block' : 'none' %>" class="cancel-attention"><span>已关注</span></div>
                <div data-id="<%= item.passportId %>" style="display: <%= parseInt(item.ifCollect) !== 1  ? 'block' : 'none' %>" class="attention"><span>+ 关注</span></div>
                <%
                    }
                 %>
            </div>
            <%
            })
             %>
        </div>
    </div>
</div>