<div class="hx-main-other">
    <div>
        <!-- 新闻轮播 -->
        <div class="comment-news-content">
            <div class="swiper-container">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-wrapper comment-news-div clearfix">
                </div>
            </div>
        </div>
    </div>
    <div class="inquire-img">
        <!-- 广告 -->
        <%
        if (data.adData[1].length > 0) {
            data.adData[1].map((item) => {%>
        <div class="news-img clearfix">
            <a href="<%= item.url %>" target="_blank" style="width: 100%; height: 100%;">
                <img src="<%= item.img_url %>" alt="">
                <span class="<%= `${item.useType === 1 ? 'active' : ''}` %>"></span>
            </a>
        </div>
        <%})
        }
         %>
    </div>
    <!-- 7*24小时快讯 -->
    <div class="real-time-news">
        <div class="real-time-top clearfix">
            <div class="real-left">
                <img src="../img/realTimeNews/icon-real-time.png" >
                7x24小时快讯
            </div>
            <a class="real-right" target="_blank" href="/livenews">MORE&nbsp;&nbsp;&gt;</a>
        </div>
        <div class="real-time-bottom">
            <div class="news-con-wrap active">
            </div>
        </div>
    </div>
    <!-- 新闻主体内容 -->
    <div class="index-news clearfix">
        <!-- 左边新闻 -->
        @@include('./newsList.ejs')
        <!-- 右边内容 -->
        <div class="index-right-contain clearfix">
            <!-- 广告 -->
            <div class="ad-contain">
                <div class="ad-box clearfix">
                    <div class="ad-left">
                        <div class="news-img clearfix">
                            <%
                            if (data.adData[2].length > 0) {
                                data.adData[2].map((item) => {%>
                            <a href="<%= item.url %>" target="_blank" style="width: 100%; height: 100%;">
                                <img src="<%= item.img_url %>" alt="">
                                <span class="<%= `${item.useType === 1 ? 'active' : ''}` %>"></span>
                            </a>
                            <%})
                            }
                             %>
                        </div>
                    </div>
                    <div class="ad-right">
                        <div class="news-img clearfix">
                            <%
                            if (data.adData[3].length > 0) {
                            data.adData[3].map((item) => {%>
                            <a href="<%= item.url %>" target="_blank" style="width: 100%; height: 100%;">
                                <img src="<%= item.img_url %>" alt="">
                                <span class="<%= `${item.useType === 1 ? 'active' : ''}` %>"></span>
                            </a>
                            <%})
                            }
                            %>
                        </div>
                    </div>
                </div>
                <div class="ad-swiper-contain">
                    <div id="adSwiper" class="ad-swiper swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <%
                            if (data.adData[9].length > 0) {
                            data.adData[9].map((item) => {%>
                            <div class="swiper-slide">
                                <div class="news-img clearfix">
                                    <a href="<%= item.url %>" target="_blank" style="width: 100%; height: 100%;">
                                        <img src="<%= item.img_url %>" alt="">
                                        <span class="<%= `${item.useType === 1 ? 'active' : ''}` %>"></span>
                                    </a>
                                </div>
                            </div>
                            <%})
                            }
                            %>
                        </div>
                        <div class="swiper-pagination swiper-pagination-bullets"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <!-- 热门专题 -->
            @@include('./indexCenter.ejs')
            <!-- 火星专栏 -->
            @@include('./indexRight.ejs')
        </div>
    </div>
</div>