<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title><%= webSiteInfo.title %></title>
    <meta name="keywords" content="<%= webSiteInfo.keywords %>">
    <meta name="description" content="<%= webSiteInfo.description %>">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="
          width=device-width,
          initial-scale=1.0,
          minimum-scale=1.0,
          maximum-scale=1.0,
          user-scalable=no"/>
    <link rel='icon' href='/img/icon-6d48d93e37.ico' type='image/x-ico'>

    <!-- rem to html font size -->
    <script src="http://static.huoxing24.com/assets/remset.js"></script>

    <!--plugin-->
    
    <link href="http://static.huoxing24.com/assets/swiperv4/swiper.min.css" rel="stylesheet">
    

    <!--private-->
    
    <link href="/css/m-index-a020cd5c71.css" rel="stylesheet">
    
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
<div class="lk-loading active" id="pageLoading">
    <div class="lk-loading-center">
        <div class="lk-loading-center-absolute">
            <div class="round round-one"></div>
            <div class="round round-two"></div>
            <div class="round round-three"></div>
        </div>
    </div>
</div>
<header>

</header>




<div class="clearfix">
    <%
const formatDate = (date, str) => {
    let _str = !str ? '-' : str
    const zero = (m) => {
        return m < 10 ? '0' + m : m
    }
    let time = new Date(date)
    let y = time.getFullYear()
    let m = time.getMonth() + 1
    let d = time.getDate()
    if (date) {
        return y + _str + zero(m) + _str + zero(d)
    } else {
        return ''
    }
}
const getTimeContent = (publishTime, requestTime) => {
    let limit = parseInt((requestTime - publishTime)) / 1000
    let content = ''
    if (limit < 60) {
        content = '刚刚'
    } else if (limit >= 60 && limit < 3600) {
        content = Math.floor(limit / 60) + '分钟前'
    } else if (limit >= 3600 && limit < 86400) {
        content = Math.floor(limit / 3600) + '小时前'
    } else {
        content = formatDate(publishTime)
    }
    return content
}
 %>
<div class="swiper-container wrap-box" id="hxwrap">
    <div class="huoxing-top" id="huoxingTop"><a href="/m"><img src="/img/m-img/top-3ad7f237bc.jpg" alt=""></a></div>
    <div class="swiper-pagination body-wrap" id="hxWrapPage"></div>
    <div class="swiper-wrapper overall-box" id="overAllBox">
        <div class="swiper-slide out-box white-bg">
            <div class="page-con-wrap" id="pageConWrap0">
                <div class="swiper-container banner" id="newsWrap">
                    <div class="swiper-wrapper newsWrap"></div>
                </div>
                <div class="currency-price">
                    <div class="price-list" id="eightClock">
                        <div class="price-number">
                            <p>火星八点</p>
                        </div>
                    </div>
                    <div class="price-list" id="tenQuestions">
                        <div class="price-number">
                            <p>王峰十问</p>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="price-number">
                            <a class="live-a" href="http://bss.csdn.net/m/topic/blockchain2018"></a>
                        </div>
                    </div>
                </div>
                <!--广告/专题-->
                <div class="index-ad"></div>

                <div class="news-box">
                    <h6><span></span>今日新闻</h6>
                    <div class="list-box" id="listBox0" data-page="<%= data.currentPage %>">
                        <%
                        if (data.inforList.length > 0) {
                            data.inforList.map((item) => {
                                %>
                        <div class="news-list-more ">
                            <a href="/newsdetail?id=<%= item.id %>">
                                <div class="title"><%= item.title %></div>
                                <div class="list-text">
                                    <div class="author read-number clearfix"><sapn><%= item.hotCounts %></sapn></div>
                                    <div class="time clearfix"><span><%= getTimeContent(item.publishTime, data.currentTime) %></span></div>
                                </div>
                                <div class="cover-img-sma"><img src="<%= !item.coverPic || !JSON.parse(item.coverPic).wap_small ? '' : JSON.parse(item.coverPic).wap_small %>" alt=""></div>
                            </a>
                        </div>
                        <%
                            })
                        }
                         %>
                    </div>
                    <div class="btn-more" id="btnMore0" data-type="0">加载更多</div>
                </div>
            </div>
        </div>

        <!--快讯-->
        <div class="swiper-slide out-box">
            <div class="news-fash page-con-wrap" id="pageConWrapLive">
                <div class="fash-title"><img src="/img/m-img/time-5129e6ab20.png" alt=""/><span>最新</span></div>
                <div class="lives-box"></div>
                <div class="flash-more-btn">
                    <div class="btn-more-flash" id="btnMore100" data-type="1">加载更多</div>
                </div>
            </div>
        </div>

        <!--新闻-->
        <div class="swiper-slide out-box white-bg">
            <div class="blockchain page-con-wrap" id="pageConWrap2">
                <div class="blockchain-box" id="listBox2" data-page="1"></div>
                <div class="btn-more" id="btnMore2" data-type="2">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap9">
                <div class="btb-box" id="listBox9" data-page="1"></div>
                <div class="btn-more" id="btnMore9" data-type="9">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap6">
                <div class="btb-box" id="listBox6" data-page="1"></div>
                <div class="btn-more" id="btnMore6" data-type="6">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap3">
                <div class="btb-box" id="listBox3" data-page="1"></div>
                <div class="btn-more" id="btnMore3" data-type="3">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap4">
                <div class="btb-box" id="listBox4" data-page="1"></div>
                <div class="btn-more" id="btnMore4" data-type="4">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap7">
                <div class="btb-box" id="listBox7" data-page="1"></div>
                <div class="btn-more" id="btnMore7" data-type="7">加载更多</div>
            </div>
        </div>
        <div class="swiper-slide out-box white-bg">
            <div class="btb page-con-wrap" id="pageConWrap8">
                <div class="btb-box" id="listBox8" data-page="1"></div>
                <div class="btn-more" id="btnMore8" data-type="8">加载更多</div>
            </div>
        </div>
    </div>
</div>
<div class="share-box-wrap" id="shareBox">
    <div class="share-box">
        <img class="share-bg" src="/img/m-img/share-3856195797.jpg"/>
        <div class="share-cont">
            <div class="title-time"><img src="/img/m-img/time-t-b3d431736f.png" alt=""><span id="shareTime">2018-01-25  22:10</span>
            </div>
            <!--<div class="label">实时快讯</div>-->
            <h6 id="articleTitle"></h6>
            <div class="share-introduce" id="shareCon"></div>
            <div class="share-bottom">
                <div class="share-ewm"><img src="/img/m-img/huoxing24-037c53f83e.jpg" alt=""></div>
                <div class="share-ewm-right">
                    <p>长按识别二维码</p>
                    <p>获取更多实时快讯</p>
                </div>
                <div style="clear: both"></div>
                <div class="domain">
                    <p>「火星财经」官网</p>
                    <p>www.huoxing24.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="img-wrap page-app" id="imgWrap">
    <div class="img-con-mask" id="imgConMask"></div>
    <div class="img-con">
        <img id="imgCon" src="/img/m-img/share-3856195797.jpg" alt="">
    </div>
    <div class="img-tips">长按图片转发给朋友</div>
</div>


</div>

<div class="bottom-down">
    <div class="b-logo">
        <p><img src="/img/m-img/bottom-log-5e7b187877.png" alt=""></p>
        <p>
            <span>火星财经APP</span>
            <br/>
            <span>区块链先锋门户</span>
        </p>
    </div>
    <a class="b-down" href="./download.html">立即下载</a>
</div>

<div class="hint"><img src="/img/m-img/wx-hint-a3fb516510.png" alt=""></div>
<!-- public -->

<script src="http://static.huoxing24.com/assets/zepto.min.js"></script>
<script src="http://static.huoxing24.com/assets/touch.js"></script>
<!--<script src="http://static.huoxing24.com/assets/jquery-1.12.0.min.js"></script>-->
<!-- plugin -->

<script src="http://static.huoxing24.com/assets/swiperv4/swiper.min.js"></script>


<!-- private -->
<script src="/js/vendors-b491e0e5c8.js"></script>

<script src="/js/m-common-6ab777107a.js"></script>

<script src=" /js/m-index-840bae1d63.js"></script>


<footer>

</footer>
<!-- statistics -->
<div style="display: none">
    <script src="https://s22.cnzz.com/z_stat.php?id=1272858809&web_id=1272858809" language="JavaScript"></script>
</div>

</body>
</html>

