<%
// 加0
const add0 = (num) => {
    return num >= 10 ? num : '0' + num
}

// 获取时分
const getHourMinute = (time) => {
    const timeTemp = new Date(time)
    return `${add0(timeTemp.getHours())}:${add0(timeTemp.getMinutes())}`
}
%>
<div class="flash-news-content clearfix">
    <div class="flash-news-list">
        <div class="news-head">
            <em class="active">全部</em>
            <em data-channelid="1" class="">监管动态</em>
            <em data-channelid="2" class="">交易所公告</em>
            <em data-channelid="3" class="">重大行情</em>
            <em data-channelid="4" class="">观点</em>
        </div>
        <!-- 前7天 -->
        <ul class="news-date"></ul>
        <ul id="liveNewsContain" class="flash-news-list">
            <%
            data.inforList.map((item) => {
                let cont = !item.title ? item.content : `【${item.title}】${item.content}`
            %>
            <li class="flash-news">
                <div class="news-item">
                    <span class="<%= parseInt(item.tag) === 2 ? 'important-news' : '' %>"> </span>
                    <span class="new-time"><%= getHourMinute(item.createdTime) %></span>
                    <p class="news-detail" style="color: <%= parseInt(item.tag) === 2 && 'red' %>">
                        <%= cont %>
                        <%
                        if (!item.url) { %>
                        <% } else { %>
                        <a href="<%= item.url %>" style="color: #1482f0" target="_blank"> 「查看原文」</a>
                        <% }
                        %>
                    </p>
                    <div class="judge-profit">
                        <p data-status="1" data-id="<%= item.id %>"
                           class="good-profit <%= parseInt(item.type) === 1 ? 'active' : '' %>">
                            <span>利好</span>
                            <span class="num"> <%= item.upCounts %> </span>
                        </p>
                        <p  data-status="0" data-id="<%= item.id %>" class="bad-profit <%= parseInt(item.type) === 0 ? 'active' : '' %>">
                            <span>利空</span>
                            <span class="num"> <%= item.downCounts %> </span>
                        </p>
                    </div>
                </div>
            </li>
            <%
            })
            %>
        </ul>
        <div class="clearfix"></div>
        <div data-currpage="<%= data.currentPage %>" data-pagecount="<%= data.pageCount %>"
             class="check-more-load clearfix">查看更多
        </div>
    </div>
    <div class="hot-news-wrap">
        <div class="aside-section">
            <div class="aside-title-name clearfix"><span class="aside-title-title">热门新闻</span></div>
            <div class="aside-title">
                <div class="aside-title-con">
                    <div class="news-recommend clearfix" style="width: 300px;">
                        <div class="new-list-box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-section">
            <div class="aside-title-name clearfix"><span class="aside-title-title">新闻排行</span></div>
            <div class="aside-title">
                <div class="aside-title-con">
                    <div class="news-sort clearfix" style="width: 300px;">
                        <div class="news-sort-box">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>